* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --primary-color: rgb(53, 161, 224); */
  --primary-color: rgb(224, 93, 53);
  --secondary-color: white;
  --accent-color: rgb(255, 226, 95);
  --tertiary-color: rgb(207, 220, 233);
  --primary-font-color: black;
  --secondary-font-color: rgb(78, 78, 78);
  --inverted-font-color: white;
}

::selection {
  background-color: var(--accent-color);
}

/* M12,20H10V17H8V16H10V3H12V16H14V17H12Z */

.body-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr;
  /* font-family: 'Pixelify Sans', sans-serif;
  font-family: 'Playfair Display', serif; */
  font-family: "Roboto Mono", monospace;
  /* overflow: hidden; */
}

button {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

/* 
------------------------------------------------------
HEADER SECTION
------------------------------------------------------
*/

header {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 2fr 3fr;
  /* box-shadow: 0 4px 0 rgba(0, 0, 0, 0.77); */
  box-shadow: 1px 10px 28px -5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

header > div {
  /* border: 2px dashed red; */
  display: flex;
  justify-content: center;
  /* gap: 8px; */
  align-items: center;
}

.icon {
  height: 23px;
  width: 23px;
}

.searchbar {
  height: 1.6rem;
  width: calc(100% - 100px);
  background-color: var(--tertiary-color);
  border-radius: 10px;
}

.user-options-container > button {
  border: none;
  padding: 10px 22px;
  margin: auto 25px;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: var(--inverted-font-color);
  font-weight: 600;
  transition: all 300ms;
}

.user-options-container > button:hover {
  background-color: var(--accent-color);
  color: var(--primary-font-color);
}

.user-profile-container {
  font-weight: 900;
}

.user-profile-picture-container {
  height: 30px;
  width: 30px;
  background-color: var(--accent-color);
  border-radius: 100%;
  display: grid;
  place-content: center;
  margin: 20px;
}

.user-profile-picture-container > img {
  height: 28px;
  width: 28px;
  border-radius: 100%;
}

.user-greeting-container {
  display: grid;
  grid-template-columns: 1fr 12fr;

  align-items: center;
  /* border: 2px solid red; */
  padding: 15px 40px;
}

#greeting {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -30px;
}

#username-and-handle {
  font-weight: 700;
  font-size: 1.7rem;
}

.profile-picture {
  display: grid;
  place-content: center;
  height: 70px;
  width: 70px;
  background-color: var(--accent-color);
  grid-row: 1 / span 2;
  border-radius: 100%;
  margin-right: 10px;
}

.profile-picture > img {
  height: 68px;
  width: 68px;
  border-radius: 100%;
}

/* 
------------------------------------------------------
SIDEBAR SECTION
------------------------------------------------------
*/

.sidebar {
  padding: 1.5rem;
  background-color: var(--primary-color);
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: var(--inverted-font-color);
  gap: 60px;
  font-weight: 700;
}

.sidebar-items {
  margin-bottom: 20px;
  font-weight: 900;
}

.sidebar-icon {
  color: var(--inverted-font-color);
}

/* 
------------------------------------------------------
MAIN CONTENT SECTION
------------------------------------------------------
*/

.main-content {
  background-color: var(--tertiary-color);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#your-projects-container {
  grid-row: 1 / span 2;
}

#your-projects-container > h2 {
  height: 50px;
  padding-left: 1rem;
  padding-top: 20px;
}

#project-card-container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

.individual-project-card-accent {
  background-color: var(--accent-color);
  border-radius: 7px;
  display: grid;
  transition: all 300ms;
}

.individual-project-card-accent:hover {
  background-color: var(--primary-color);
}

.individual-project-card {
  position: relative;
  left: 8px;
  background-color: var(--secondary-color);
  padding: 24px 16px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: grid;
}

.individual-project-card p {
  font-size: 0.85rem;
  color: var(--secondary-font-color);
}

.individual-project-card h3 {
  font-size: 1.5rem;
}

.project-card-icon-container {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  align-items: end;
  padding-top: 25px;
  height: 80px;
}

/* ANNOUNCEMENTS SECTION */

#announcements-container > h2 {
  height: 50px;
  padding-left: 1rem;
  padding-top: 20px;
  /* border: 2px solid firebrick; */
}

#announcements-card-container-container {
  display: grid;
  /* place-items: center; */
  justify-items: center;
  align-items: start;
  height: calc(100% - 60px);
  /* border: 6px dashed rgb(201, 255, 74); */
}

#announcements-card-container {
  display: grid;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--secondary-color);
  width: 90%;
  height: 90%;
  border-radius: 7px;
  /* border: 6px dashed rgb(74, 198, 255); */
}

#announcements-card-container > div {
  font-size: 0.7rem;
}

.announcement-card-divider {
  background-color: var(--tertiary-color);
  height: 2px;
}

/* TRENDING SECTION */

#trending-container > h2 {
  height: 50px;
  padding-left: 1rem;
  padding-top: 20px;
  /* border: 2px solid firebrick; */
}

#trending-card-container-container {
  display: grid;
  /* place-items: center; */
  justify-items: center;
  align-items: start;
  height: calc(100% - 60px);
  /* border: 6px dashed rgb(201, 255, 74); */
}

#trending-card-container {
  display: grid;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--secondary-color);
  width: 90%;
  height: 90%;
  border-radius: 7px;
  /* border: 6px dashed rgb(74, 198, 255); */
}

.trending-card {
  display: grid;
  grid-template-columns: 1fr 5fr;
  /* border: 1px solid thistle; */
}

.trending-profile-picture {
  display: grid;
  place-content: center;
  height: 35px;
  width: 35px;
  background-color: var(--accent-color);
  border-radius: 100%;
  grid-row: 1 / span 2;
  margin-top: 8px;
}

.trending-profile-picture > img {
  height: 33px;
  width: 33px;
  border-radius: 100%;
}

.trending-user-handle {
  font-size: 0.7rem;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: -10px;
}

.trending-description {
  font-size: 0.7rem;
}
